{% extends 'base.html' %}

{% block content %}
<h1 align="center">Welcome to CDFI Bank !</h1>
<div class="card-group">

    <div class="card" style="width: 18rem; padding = 12px">
        <div class="card-body">
            <h5 class="card-title">add worker</h5>
            <a href="#" class="btn btn-primary">choose</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">delete worker</h5>

            <a href="#" class="btn btn-primary">choose</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">money transfer</h5>

            <a href="#" class="btn btn-primary">choose</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">money request</h5>

            <a href="#" class="btn btn-primary">choose</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">all workers</h5>

            <a href="#" class="btn btn-primary">choose</a>
        </div>
    </div>
</div>

{% endblock %}